# Logs
logs
*.log
npm-debug.log*

# Node modules
node_modules/

# Production build output
dist/
dist-ssr/
*.local

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata
.DS_Store
Thumbs.db
